 /* orig https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp */


 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 /* Create a sticky/fixed navbar */
 #navbar {
  /* overflow: hidden; */
  background-color: #f1f1f1;
  padding: 10px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: sticky; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navbar links */
#navbar a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

#navbar #logo {
  width: 100px;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  display: flex;
} 

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    flex-direction: column;
    
  }
  #navbar a {
    display: inline-block;
    /* border: 1px solid red; */
  }
  #navbar-right {
    flex-direction: column;
    width: 90%; 
    
  }
} 