<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Card Hover</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

  <div class="container">
    <!-- card1 -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service One</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis provident, maiores ipsum architecto quibusdam.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="face face2">
        <h2>1</h2>
      </div>
    </div>
    <!-- card2 -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service Two</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis provident, maiores ipsum architecto quibusdam.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="face face2">
        <h2>2</h2>
      </div>
    </div>
    <!-- card3 -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service Three</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis provident, maiores ipsum architecto quibusdam.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="face face2">
        <h2>3</h2>
      </div>
    </div>
  </div>
  
</body>
</html>